@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

:root {
  --primary-black: black;
  --primary-green: green;
  --primary-white : white;

}

body {
  font-family: "Roboto Condensed" sans-serif;
}

/* ***************** Navbar ******************* */
.logo {
  width: 25.25rem;
}

/* *********** Navbar Links ************  */
nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

/* *************** Navbar text *********** */
nav ul li {
  text-transform: uppercase;
  
}
/* ********* Navbar Words ********* */
.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-black) !important;
  border-top: 0.1875rem solid var(--primary-white);;
   
}
/* ********** Navbar Logo *********** */
.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

.navbar-nav > li > a.active:focus,
.navbar-nav > li > a:hover,
.navbar-nav > li > a.active {
  border-top: 0.1875rem solid var(--primary-green);
}
